In [14]:
import pandas as pd#

df = pd.read_csv("../tsne_results/data/run_662_s_100000_p30_clusters.png")
cl = 33
df[df['cluster']==cl].head()

      Unnamed: 0                   topic__title      tscore    tshare  cluster
3222           0        {forest, tropic, stand}  104.250300  0.296830       33
3223           1     {carbon, dioxid, sequestr}   16.765666  0.047737       33
3224           2  {ecosystem, servic, function}   12.343537  0.035146       33
3225           3         {manag, resourc, plan}   12.193382  0.034718       33
3226           4            {tree, stand, pine}    8.024213  0.022847       33